*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Overpass', sans-serif;
  color: #cdcdcd;
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: #000000;
}

section {
  padding: 0.938rem;
}
h1 {
  font-family: 'Reenie Beanie', cursive;
  /* text-shadow: 0 0 0.3em currentColor; */
}
h2,
h3 {
  font-family: 'Annie Use Your Telescope', cursive;
}

a {
  text-decoration: none;
}

nav {
  /* background-color: #0c0c0c; */ /* chnage bg color on hover / maybe just a bottom border */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4.688rem;
  padding: 0.313rem 0.625rem;
  position: fixed;
  top: 0;
  z-index: 9999;
}

.logo {
  background-image: url("../img/nft-800.png");
  width: 35rem;
  height: 35rem;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border: 0.188rem solid pink;
  animation: morph 8s ease-in-out infinite;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  position: relative;
  transition: all 1s ease-in-out;
}
@media (max-width: 500px) {
  .logo {
    width: 28rem;
    height: 28rem;
  }
}
@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.logo {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
}

.primary-navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.primary-navigation[data-visible=true] {
  transform: translateX(0%);
}
@media (min-width: 768px) {
  .primary-navigation[data-visible=true] {
    top: 80px;
    border-radius: 10px;
    transform: translateY(0%);
  }
  .primary-navigation[data-visible=true] li {
    display: flex;
    justify-content: center;
    margin: 2.5px;
    padding: 5px;
    position: relative;
    top: -100px;
  }
}

.primary-navigation a {
  text-decoration: none;
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 1.5em;
}

.mobile-nav-toggle {
  display: none;
}

.primary-navigation {
  position: fixed;
  z-index: 1000;
  inset: 0 0 0 0%;
  flex-direction: column;
  padding: min(30vh, 7.5rem) 2em;
  background: #0c0c0c;
  backdrop-filter: blur(1rem);
  transform: translateX(100%);
  transition: transform 350ms ease-out;
}
@media (min-width: 768px) {
  .primary-navigation {
    inset: 0 0 50% 75%;
    transform: translateY(-100%);
  }
}

.mobile-nav-toggle {
  display: block;
  position: absolute;
  z-index: 9999;
  border: 0;
  top: 1.5rem;
  right: 1rem;
  border-radius: 0.313rem;
  --button-color: pink;
  overflow: hidden;
  background-color: transparent;
}

.mobile-nav-toggle .hamburger {
  transition: translate 1s, rotate 1s;
}

.mobile-nav-toggle[aria-expanded=true] .hamburger {
  rotate: 0.125turn;
}

.mobile-nav-toggle .line {
  transition: 1s;
  stroke-dasharray: 60 31 60 300;
}

.mobile-nav-toggle[aria-expanded=true] .line {
  stroke-dasharray: 60 105 60 300;
  stroke-dashoffset: -90;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: calc(100vh - 0px);
  padding: 0.938rem;
}

.social-gh,
.social-in {
  width: 2.5rem;
  height: auto;
  /* filter: contrast(0.5); */
}

.social .social-in {
  margin-left: 0.938rem;
}

h1 {
  margin: 0;
  font-size: 3rem;
}

header p {
  margin: 0 0 25px 0;
  font-size: 1.25rem;
  font-family: 'Annie Use Your Telescope', cursive;
  color: pink;
}

.about {
  display: flex;
  text-align: center;
  background-color: rgb(12, 12, 12);
}

.about-content {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.about h2,
.about p {
  margin: 0;
}

.tech-stack {
  margin-top: 2rem;
  margin-bottom: 0.938rem;
}

.about-text h2 {
  margin: 75px 0 1.75rem 0;
}

.about p {
  max-width: 768px;
}

.headshot {
  background-image: url("../img/nft-800.png");
  width: 35rem;
  height: 35rem;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border: 0.188rem solid pink;
  animation: morph 8s ease-in-out infinite;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  position: relative;
  transition: all 1s ease-in-out;
}
@media (max-width: 500px) {
  .headshot {
    width: 28rem;
    height: 28rem;
  }
}
@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.headshot {
  width: 15.625rem;
  height: 15.625rem;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 95px;
}

.tech-stack {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.tech-stack p {
  margin-top: 55px;
  margin-bottom: 0.938rem;
  font-size: 1.25rem;
  font-family: "ADLaM Display", cursive;
}

.tech-stack-logo {
  margin-top: 25px;
  margin-bottom: 95px;
}

.stack-logo {
  width: 2.5rem;
  height: auto;
  margin-left: 25px;
}

.portfolio {
  text-align: center;
}

.portfolio h2 {
  margin: 100px 0 1.75rem 0;
}

.portfolio p {
  margin: 0 auto;
  margin-bottom: 100px;
  max-width: 768px;
}

.project-top {
  display: flex;
  flex-direction: column;
  /* max-width: 500px; */
  /* box-shadow: 0 0 10px 0px rgba(69, 69, 69, 0.5); */
  border-radius: 0.313rem;
  padding: 0.625rem;
  margin: 0 auto;
  margin-top: 10rem;
  margin-bottom: 250px;
  background-color: black;
  position: relative;
  /* css used to style the 'rotate element' function */
  /* transform-style: preserve-3d;
  transform: perspective(5000px) rotateY(var(--rotateY)) rotateX(var(--rotateX)); */
}
@media (min-width: 768px) {
  .project-top {
    height: 265px;
    width: fit-content;
    /* overflow: hidden; */
    flex-flow: column wrap;
  }
}
/* css used to style the 'rotate element' function */
/* .project-top::before,
.project-top:after {
  content: "";
  position: absolute;
  border-radius: inherit;
}

.project-top::before {
  inset: 0.75rem;
  background: black;
  transform: translateZ(-49px);
  filter: blur(15px);
  opacity: 0.5;
}

.project-top::after {
  inset: -0.5rem;
  background: linear-gradient(-45deg, rgb(70, 70, 70), rgb(136, 136, 136));
  transform: translateZ(-50px);
  opacity: 0.001;
} */

.project-img {
  /* width: 100%; */
  height: 9.375rem;
  border-radius: 0.313rem;
  /* box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.5); */
}
@media (min-width: 768px) {
  .project-img {
    height: 15rem;
    margin-right: 35px;
    /* margin-top: 15px; */
    /* width: 85%; */
  }
}

.project-title {
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: center;
}
@media (min-width: 768px) {
  .project-title {
    margin-top: 0;
    justify-content: flex-start;
  }
}

h3 {
  margin-right: 25px;
  font-size: 1.75em;
}

.project-social {
  width: 1.425rem;
  height: 1.425rem;
  margin-left: 0.625rem;
}
.project-social:first-of-type {
  margin-left: auto;
}
/* .project-social:last-child {
  margin-right: 35px;
} */

.source {
  display: flex;
  margin: 0.938rem 0;
  /* margin-top: 25px; */
  /* justify-content: space-around; */
}

.source a {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);
  border-radius: 0.313rem;
}

.project-info p {
  margin: 0;
  text-align: justify;
  margin-top: 10px;
}
/* placed here so that the margin on the 'p' within the source div receives the syling */
.source p {
  margin-top: 0;
  font-family: 'Reenie Beanie', cursive;
}
@media (min-width: 768px) {
  .project-info p {
    max-width: 400px;
    /* margin-right: 35px; */
  }
}

/* .source .social-gh {
  margin-left: 25px;
} */

.source a:first-child {
  margin-right: 0.938rem;
}

.contact {
  height: 90vh;
  background-color: rgb(12, 12, 12);
  text-align: center;
}

.project-preview,
.project {
  display: flex;
  flex-direction: column;
}

.project-preview {
  height: 100%;
  justify-content: center;
}

.project-preview h2 {
  margin-bottom: 3.125rem;
}

.project {
  margin-bottom: 1.563rem;
}

.project p {
  margin-top: 0.438rem;
  font-family: 'Reenie Beanie', cursive;
  font-size: 1.3em;
}

footer {
  height: 4.688rem;
  display: flex;
}

footer p {
  margin: auto auto;
  font-family: 'Reenie Beanie', cursive;
  font-size: 1.5em;
}

/* ///////////////////////////////////////////
Styles added without sass
 -- note --
figure out how to use sass on windows,
edit before final submission
////////////////////////////////////////////*/

.project-divider-odd,
.project-divider-even {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: -50px;
  width: 200px;
}
.project-divider-odd {
  left: -195px;
  flex-direction: row-reverse;
}
.project-divider-even {
  right: -195px;
}
.divider {
  width: 150px;
  height: 2px;
  background-color: white;
}
.divider-num {
  font-family: 'Lemon', serif;
}


/*# sourceMappingURL=styles.css.map */
